@import '../../assets/styles/variables';

.menu {
	border-right: 1px solid lightgray;
	height: 100%;
}
.menuItems {
	margin-bottom: 15px;
}

.itemsWrapper {
	border-bottom: 1px solid lightgray;
	padding: 10px;
}
