@import '../../assets/styles/variables';

.astroWrapper {
	text-align: center;
	padding: rem(20px);
}
button {
	outline: 0;
	color: $white;
	background: $gray;
	padding: rem(5px) rem(10px);
	line-height: 1.5;
	border: transparent;
	border-radius: rem(5px);
	cursor: pointer;
	font-size: rem(14px);
	margin-left: rem(5px);

	&:focus {
		box-shadow: 0 0 0 0.2em rgba(113, 114, 116, 0.4);
	}

	&:hover {
		color: $white;
		background-color: $secondary-green;
	}
	&:active {
		color: $white;
		background-color: $secondary-green;
	}
	@media (max-width: 768px) {
		margin-top: 5px;
	}
}
.selectButton {
	margin-right: rem(5px);
}
.errorText {
	color: $error-red;
	font-size: rem(14px);
}
