@import '../../assets/styles/variables';

.header {
	display: flex;
	align-items: center;
	padding: rem(10px);
	box-shadow: inset 10px 5px 20px $gray;
	justify-content: space-between;
	background-color: $light-gray;
	margin-bottom: rem(5px);
}
.logo {
	width: rem(50px);
	height: rem(50px);
	border-radius: 50%;
}

.mobileOption {
	display: none;
}

.option :hover {
	color: $white;
}

.mobileMenu {
	display: none;
}

.navOptions {
	position: fixed;
	top: rem(60px);
	right: rem(20px);
	background-color: $light-gray;
	box-shadow: 1px 5px 8px $gray;
	padding: rem(10px);
	width: 200px;
	transition: all 0.8s ease;
	height: unset !important;
	border: none !important;
}
.navOptionsInActive {
	display: none;
}

.menuIcon {
	width: rem(45px);
	height: rem(45px);
}
.mobileMenu {
	display: block;
}
