@import '../../assets/styles/variables';

.result {
	margin: 40px auto;
	text-align: left;
}
.resultList {
	font-size: 18px;
	list-style: none;
	li {
		display: flex;
		align-items: baseline;
		margin-bottom: 10px;
	}
	span {
		margin-right: 10px;
	}
	@media (max-width: 768px) {
		padding: 0;
	}
}
